*,*::before, *::after{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF,#00FF6C);
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto)repeat(5, 100px);
}
.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    border: solid 1px white;
    background-color: rgba(255, 255, 255, 0.75);
}
.calculator-grid>button:hover{
    background-color: rgba(255, 255, 255, 0.9);
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1/-1;
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: rgb(255, 255, 255,0.75);
    font-size: 1.5rem;
}
.output .current-operand{
    color: #fff;
    font-size: 2.5rem;
}